body {
   background-color: #A1C0C0;
   overflow-x: auto;
   min-width: 400px;
   min-height: 500px;
}

table {
   width: 50%;
   border: 1px solid black;
   font: 16px consolas;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}
td {
   padding: 4px
}

.subtext {
   font: 18px consolas;
}

#timeText {
   font: 30px consolas;
}

.input_div {
   margin: 0 auto;
}

.text_div {
   text-align: center;
   height: 500px;
}

#commandInput {
   font: 24px consolas;
   border: 0px;
   border-bottom: 1px solid black;
   outline: none;
   /* background-color: #A1C0C0; */
   background: transparent;
   text-align: center;
   display: inline-block;
}
#commandInput::selection {
   background: #F3F6F6;
}

#bgColorInput {
   font: 16px consolas;
   text-transform: uppercase;
   text-align: center;
   border: 0px;
}
#bgColorInput:focus {
   outline: none;
}

#saveOptionsBtn {
   font: 16px consolas;
   border: 1px solid black;
   background-color: #FFF;
}
#saveOptionsBtn:focus {
   outline: none;
}

#fixedHelpBtn {
   font: 14px sans-serif;
   position: fixed;
   top: 0;
   right: 0;
   border: 0;
   margin: 5px;
   cursor: pointer;
   background: transparent;
   outline: 0;
}

.center {
   position: absolute;
   left: 15%;
   right: 15%;
   top: 35%;
   bottom: 15%;
}
