:root {
  /* Dark gray */
  --bg-color: #282828;

  /* Yellowed white */
  --text-color: #ebdbb2;

  /* Green */
  --accent-color: #689d6a;

  /* Kind of beige-ish? */
  --button-color: #928374;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: auto;
  margin: 10px;
}

#wrapper {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 30%;
  bottom: 15%;
}

#message {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 25px;
  color: var(--text-color);
}

#menu {
  margin-bottom: 40px;
  font-family: 'Source Sans Pro', sans-serif;
}

#clock {
  font-size: 112px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 8%;
  color: var(--text-color);
}

table {
  width: 50%;
  table-layout:fixed;
  min-width: 500px;
  font-size: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-color);
  border: 0;
}
th {
  padding: 6px;
  padding-top: 40px;
  font-size: 22px;
}
td {
  padding: 6px;
}

a {
  color: #928374;
}

.subheader {
  margin-top: -10px;
  margin-bottom: 0;
}

.menuBtn {
  text-align: center;
  font-size: 16px;
  border: 0;
  color: var(--bg-color);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.17s cubic-bezier(.25,.8,.25,1);
  border-radius: 4px;
  background-color: var(--button-color);
  padding: 7px 9px;
}
.menuBtn:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.menuBtn:active {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menuBtn:focus {
  outline: none;
}

#addCommandBtn,
#customCommandsHelpBtn,
#submitIssueBtn {
  margin-right: 5px;
}

#addCommandBtn,
#customCommandsHelpBtn {
  margin-top: 5px;
}

#settingsMenuBtn {
  margin-top: 20px;
}

#saveSettingsBtn {
  margin-top: 40px;
  background-color: var(--accent-color);
}

#restoreDefaultSettingsBtn {
  text-align: center;
  font-size: 12px;
  border: 1px solid black;
  background-color: transparent;
  padding: 1px 6px;
}
#restoreDefaultSettingsBtn:focus {
  outline: none;
}

#closeHelpBtn {
  background-color: var(--accent-color);
}

.helpMenuCommandText {
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 14px;
}

#helpText {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
  color: var(--text-color);
}

#input-box {
  font-size: 24px;
  font-family: 'Source Sans Pro', serif;
  border: 0px;
  border-bottom: 1px solid var(--text-color);
  outline: none;
  background: transparent;
  text-align: center;
  display: inline-block;
  max-width: 100%;
  color: var(--text-color);
  padding-bottom: 2px;
  letter-spacing: 0.5px;
}
#input-box::selection {
  background: #458588;
}

#customCommandsForm {
}

.customCommandsFormLabel {
  display: inline-block;
  width: 80px;
}

.customCommandsInputField,
#customCommandsTextarea {
  background-color: #3c3836;
  outline: 1px solid var(--bg-color);
  border: 1px solid var(--bg-color);
  color: var(--text-color);
  padding: 5px;
}
.customCommandsInputField,
#customCommandsTextarea:focus {
  outline: none;
}

.customCommandsInputField {
  background-color: #3c3836;
  outline: 1px solid var(--bg-color);
  border: 1px solid var(--bg-color);
  color: var(--text-color);
  margin-bottom: 4px;
  display: table-cell;
}
.customCommandsInputField:focus {
  outline: none;
}

input[type='radio'] {
  margin-bottom: 5px;
}
